<mat-toolbar color="primary">
    <span class="app-logo">Angular Signals</span>    
    <span class="example-spacer"></span>   
    <button mat-button [routerLink]= "['signal-ejemplo1']" routerLinkActive="active">   
        Eje1    
    </button>
    <button mat-button [routerLink]="['signal-ejemplo3']" routerLinkActive="active">   
        Eje3    
    </button>
    <button mat-button [routerLink]="['signal-ejemplo4']" routerLinkActive="active">   
        Eje4   
    </button>
    <button mat-button [routerLink]="['signal-ejemplo5']" routerLinkActive="active">   
        Eje5    
    </button>    
    <button mat-button [routerLink]="['signal-ejemplo6']" routerLinkActive="active">   
        Eje6   
    </button>
    <button mat-button [routerLink]="['signal-ejemplo7']" routerLinkActive="active">   
        Eje7    
    </button> 
    <span class="menu-spacer"></span>
    <a    
        mat-icon-button    
        target="_blank"    
        aria-label="Github Repo link"    
        href="https://github.com/mateo-ux"    
    >    
    <img src="/assets/images/github-icon.svg"/>    
    </a>    
    </mat-toolbar>